
:root{
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

.inscription
{
    display: flex;
    background-color: #FFFFFF;
    
}
.left
{
    margin-left: 3%;
}
#avatar_img
{
    visibility: hidden;
}
.left
{
    width: 60%;
}
.text
{
    padding: 0 2.5em;
}
.left p
{
    color: #C2C2C2;
}

.form{
    padding: 1.875em 2.5em;
    border-top: 2px solid #C2C2C2;
    display: flex;
}

.form-control{
    margin-bottom: 0.625em;
    padding-bottom: 1.25em;
    position: relative;
}

.form-control label{
    display: block;
    margin-bottom: 0.313em;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 0.25em;
    display: block;
    width: 350%;
    padding: 0.625em;
    font-size: 0.875em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.file
{
    display: flex;
    justify-content: space-between;
}
.submit
{
    position: relative;
    left: 100%;
    width: 100%;
    background-color: #51BFD0;
    color: white;
    font-size: 18px;
    margin-top: 10%;
}
.right
{
    margin-left: 100%;
    margin-top: 5%;
    width: 30%;
}
.right label img
{
    border: 1px solid #51BFD0;
    border-radius: 50%;
    width: 100%;
}
.right h3
{
    text-align: center;
}
/* Pour javascript */
.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input{
    border-color: var(--success-color);
}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}