:root{
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

.formulaire_question
{
    width: 90.5%;
}
.form-block
{
    display: flex;
}
.form-block label
{
    margin-right: 3%;
}
.form-block textarea, .form-block input, .form-block select
{   
    margin-bottom: 2%;
}
.form-block textarea
{
    width: 100%;
}
.form-block #nombre
{
    width:5%;
    height: 2%;
    margin-left: 2%;
}
.form-block select
{
    width:80%;
    height: 4vh;
}
.form-block input[type="text"]
{
    width: 75%;
    height: 4vh;

}
#send
{
    position: relative;
    left: 70%;
    width: 30%;
    height: 5vh;
    margin-bottom: 3%;
    background-color: #51BFD0;
    color: white;
    font-size: 18px;
}
input[type='checkbox']
{
    height: 26px;
    width: 24px;
    border: 3px solid red;
}
.lab_que
{
    margin-left: 3%;
}
.inc-dec
{   
    margin-bottom: 2%;
    margin-left: 2%;
}
/* js */
.form-block input:focus,form-block textarea:focus{
    outline: 0;
    border-color: #777;
}

.form-block.success input,.form-block.success textarea{
    border-color: var(--success-color);
}

.form-block.error input{
    border-color: var(--error-color);
}

.form-block small{
    color: var(--error-color);
    visibility: hidden;
}

.form-block.error small{
    visibility: visible;
    margin-left: 3%;
}