body
{
  background-image: url("../img/background.jpg");
}
.contain
{
    display: flex;
    width:95%;
    background-color: #F2F2F2;
}
.info
{
    position: relative;
    left: 20%;
    height: 30%;
    width: 50%;
    margin-top: 1%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.info h1
{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.info h1,td
{
    color: #8F8273;
}
table
{
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
    left: 23%;
    border-collapse : separate;
    border-spacing : 25px;
    border: 1px solid #39DDD6;

}
tr,td,th
{
    text-transform: uppercase;
    border-spacing: 12px;
    text-align: center;
    font-size: 25px;
}
.info button
{
    margin-top: 1.5%;
    margin-bottom: 2%;
    background-color: #39DDD6;
    font-size: 20px;
    position: relative;
    margin-right: 3%;
  left: 50%;
}
.info button a
{
    text-decoration: none;
    color: white;
}
.info .liste_q
{
   padding-left: 4%;
}
.info #form_liste
{
    margin: 2% 0 3% 50%;
}

#form_liste label
{
    color: #8D8070;
}
 input[type="number"]
{
    width: 10%;
    margin-left: 3%;
}
#form_liste input[type="submit"]
{
    background-color: #5E91B0;
    text-transform: uppercase;
    margin-left: 3% ;
}
.info .questions
{
   padding-left: 9%;
   margin-left: 4%;
    width: 80%;
   border: 1px solid #39DDD6;
   border-radius: 40px;
}
.info .questions h3
{
    text-transform: uppercase;
    color: #8D8070;
}